CDN base64url_decode method signature

I'm trying to modify the example provided for signing a url to signing a cookie.

When the `$base64UrlKey` is decoded, the `base64url_decode` method is passed a 2nd parameter of `true`.  However the method signature only has one parameter, the string to decode.
What is the boolean supposed to signify?
I had guessed that it was meant to be passed to `base64_decode` as the second parameter, indicating whether or not the `strict` rule should apply.

I am having an issue with Chrome where "=" and ":" are being encoded to ascii, and this is causing the cookie to fail.  If I change the escaped values, %3D or %3A, back to the literal values then the cookie works. (Unrelated to the issue with base64url_decode)

```php
// Decode the key
$decodedKey = base64url_decode($base64UrlKey, true); // <-- 2nd parameter?
```
```php
/**
 * Decodes base64url (RFC4648 Section 5) string
 *
 * @param string $input base64url encoded string
 *
 * @return string
 */
function base64url_decode($input) // <- no 2nd boolean parameter
{
    $input .= str_repeat('=', (4 - strlen($input) % 4) % 4);
    return base64_decode(strtr($input, '-_', '+/'));
}
```
https://github.com/GoogleCloudPlatform/php-docs-samples/blob/20b907a36995b090bb6d0d6a970f9324d2a9613f/cdn/signUrl.php#L69

Looks like you are right, the parameter is being passed (presumably) for strict base64 decoding, but the signature is wrong. We can make an update to the sample to correct this. 

As for your other issue, I am not clear on your use case or if it is an issue with this library. Please open another issue with more information on what you're trying to do. 

Thanks!

> Looks like you are right, the parameter is being passed (presumably) for strict base64 decoding, but the signature is wrong. We can make an update to the sample to correct this.

Great, that should make it easier for others to follow the example!

> As for your other issue, I am not clear on your use case or if it is an issue with this library. Please open another issue with more information on what you're trying to do.

That won't be necessary, it was an issue with how the [set_cookie ](https://github.com/bcit-ci/CodeIgniter/blob/07cb9fd45f94d928c0f6dcf73f702808e1e03f62/system/helpers/cookie_helper.php#L70) method in the CodeIgniter 3 PHP framework was escaping parts of the signed cookie I was generating. (which was resolved by using [setrawcookie](https://www.php.net/manual/en/function.setrawcookie.php)). This was to provide temporary access to assets in a Cloud Storage bucket set up as a CDN.
